<mat-sidenav-container class="layout-container">
  
  <!-- Menú Lateral Izquierdo -->
  <mat-sidenav mode="side" opened class="sidenav-wrapper">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Contenido Principal -->
  <mat-sidenav-content class="main-container">
    
    <!-- Header Superior -->
    <header class="header-container">
      <app-header></app-header>
    </header>

    <!-- Contenido de la Vista -->
    <main class="content-body">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer Inferior -->
    <footer class="footer-container">
      <app-footer></app-footer>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>